# --------------------
# Python cache
# --------------------
__pycache__/
*.py[cod]
*$py.class

# --------------------
# Virtual environments
# --------------------
venv/
.venv/

# --------------------
# Environment variables
# --------------------
.env

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/

# --------------------
# Streamlit
# --------------------
.streamlit/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs & temp files
# --------------------
*.log
*.tmp

# --------------------
# Model / cache files
# --------------------
.cache/
huggingface/
